{% extends 'student/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
            $('#search').click(function () {
                var user_input = $('#user_input').val();
                 $.ajax({
                    url: '/student/search/',
                    data: {user_input: user_input},
                    success: function (data) {
                        var search_data = data.search_data;
                        var num = search_data.length;
                        if ( num == 0 ) {
                            alert('검색 결과가 존재하지 않습니다.');
                        } else {
                            $("div").remove("#question_list");
                            $("#whole_card").after('<div id="question_list" class="row">' + '</div>');
                            for (var i = 0; i < num; i++) {
                                $("#question_list").append(
                                    '<div class="col-md-3 mb-5">' +
                                    '<div class="card h-100" align="center">' +
                                    '<div class="card-body">' +
                                    '<img class="img-fluid rounded mb-4 mb-lg-0" src="' +
                                    '/media/' +
                                    search_data[i].question_image +
                                    '" style="width:auto; height:100%;">' +
                                    '</div>' +
                                    '<span class="card-footer">' +
                                    '<button type="submit" class="w3-btn w3-round w3-dark" name="question_id" value="' +
                                    search_data[i].question_id  +
                                    '">' +
                                    search_data[i].question_name +
                                    '</button>' +
                                    '</span>' +
                                    '</div>' +
                                    '</div>'
                                )}
                        }}
                 });
            });
        });
    <!--검색카테고리-->
            $(document).ready(function () {
            $('#category_option').change(function () {
                var option = $("#category_option option:selected").val();
                $.ajax({
                    url: '/student/change_category/',
                    data: {option: option},
                    success: function (data) {
                        var option_data = data.option_data;
                        var num = option_data.length;
                        $("div").remove("#question_list");
                        $("#whole_card").after('<div id="question_list" class="row">' + '</div>');
                            for (var i = 0; i < num; i++) {
                                $("#question_list").append(
                                    '<div class="col-md-3 mb-5">' +
                                    '<div class="card h-100" align="center">' +
                                    '<div class="card-body">' +
                                    '<img class="img-fluid rounded mb-4 mb-lg-0" src="' +
                                    '/media/' +
                                    option_data[i].question_image +
                                    '" style="width:auto; height:100%;">' +
                                    '</div>' +
                                    '<span class="card-footer">' +
                                    '<button type="submit" class="w3-btn w3-round w3-dark" name="question_id" value="' +
                                    option_data[i].question_id  +
                                    '">' +
                                    option_data[i].question_name +
                                    '</button>' +
                                    '</span>' +
                                    '</div>' +
                                    '</div>'
                                )
                            }
                        }
                    });
                });
            });
</script>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'AI' %}">평가연습
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Study' %}">학습평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Homeworkselect' %}">숙제하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                 height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-3">
            <p class="font-weight-bolder triangle-border left">학습할 문항을 선택하세요. 
            </p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->

        <div class="col-6" style="position: relative; left: 230px; top: 60px;">
            <div class="card-body row no-gutters">
                <div class="col">
                    <input id="user_input" class="form-control" placeholder="키워드를 입력하세요.">
                </div>
                <div class="col-auto">
                    <button id="search" class="w3-button w3-round w3-gray">검색</button>
                </div>

                <div id="category" class="col" style="left:10px">
                    <select id="category_option" name="category">
                        <option value="select" selected="selected">카테고리</option>
                        {% for data in category %}
                            <option value="{{ data.category_name }}">{{ data.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->


    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <h5 class="text-white m-0">문항 선택하기</h5>
        </div>
    </div>

    <!-- Content Row -->
    <form action="{% url 'AIquestion' %}" method="get">
        {% csrf_token %}
        <div id="whole_card" class="row my-5">
            <div id="question_list" class="row">
                {% for data in qs %}
                <div class="col-md-3 mb-5">
                    <div class="card h-100" align="center">
                        <div class="card-body">
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ data.image.url }}"
                            style="width:auto; height:100%;">
                        </div>
                        <span class="card-footer">
                            <button type="submit" class="w3-btn w3-round w3-dark" name="question_id" value="{{ data.question_id }}">{{ data.question_name }}
                            </button>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
