{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>WA3i</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script type="text/javascript" language="javascript">

            function IDAlert() {
                var ID_num = document.getElementById("ID_num").value
                var msg = confirm("입력하신 아이디가 맞는지 확인해주세요.\n맞다면 <확인>을 눌러주세요.\n\nID : " + ID_num)
                 if ( msg == true) {
                     return true;
                 }else{
                     return false;
                 }
            }

            function AIAlert() {
                var code_num = document.getElementById("code_num").value
                var ID_num = document.getElementById("ID_num").value
                var AImsg = confirm("입력하신 코드와 아이디가 맞는지 확인해주세요.\n맞다면 <확인>을 눌러주세요.\n\nCODE : "
                + code_num + "\nID : "+ ID_num);
                 if ( AImsg == true) {
                     return checkInfo(code_num,ID_num);
                 }else{
                     return false;
                 }
            }


<!--코드만 성공-->
            function checkcode(data) {
            code_overlap_input = document.querySelector('input[id="code_num"]');

            $.ajax({
              url: '/student/check_code/',
              data: {
                'code_num': code_overlap_input.value
              },
              datatype: 'json',
              success: function (data) {
                console.log(data['overlap']);
                if (data['overlap'] == "pass") {
                  document.location.href='{% url 'Homeworkquestion' %}';
                } else {
                alert("코드를 다시 확인하세요.");
<!--                  return false;-->
                }
              }
            });
          }

<!--ID만-->
    function checkID(ID_num) {
        ID_overlap_input = document.querySelector('input[id="ID_num"]');

        $.ajax({
          url: '/student/check_ID/',
          data: {
            'ID_num': ID_overlap_input.value
          },
          datatype: 'json',
          success: function (data) {
            console.log(data['overlap']);
            if (data['overlap'] == "pass") {
              document.location.href='{% url 'Homeworklist' %}';
            } else {
              alert("코드와 ID를 다시 확인하세요.");
            }
          }
        });
      }
    </script>


    </head>
    <body>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'student/image/기관.png' %}" style="display: block; margin: 0px auto;">
        <footer class="page-footer py-5 bg-dark">
            <div class="container" align="center">
                <p class="m-0 text-center text-white">Copyright &copy; WA3I</p>
            </div>
        </footer>
        <!-- Footer -->

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'student/vendor/jquery/jquery.twbs-toggle-buttons.min.js' %}"></script>

    </body>

</html>
