{% extends 'student/base.html' %}
{% load static %}
{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'AI' %}">평가연습</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Study' %}">학습평가</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Homeworkselect' %}">숙제하기
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <p class="font-weight-bolder triangle-border left">지금까지 작성했던 숙제 내역입니다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row my-5">

        <table class="w3-table-all w3-centered" style="text-center table-layout:fixed;">
            <form action="{% url 'Homeworkcheck' %}" method="get" >
            <tr class="w3-indigo">
                <input type="hidden" class="w3-btn w3-round w3-blue" name="student_id" value="{{ rel.solve.student_id }}" id="{{ rel.solve.student_id }}">
<!--                <th>{{ rel.student_id }}</th>-->
              <th>제목</th>
              <th>제출 기한</th>
              <th>제출 완료 날짜</th>
            </tr>

                {% for data in rel %}
                <tr>
                    <td>
                        <a href="{% url 'Homeworkcheck' %}"name="assignment_id" value="{{ data.assignment.assignment_id }}" id="{{ data.assignment.assignment_id }}">
                            {{data.assignment.assignment_title}}</a>

                    </td>
                    <td>{{data.assignment.end_date}}</td>
                    <td>{{data.solve.modified_date}}</td>
                </tr>
            {% endfor %}
            </form>
        </table>

        <a href="{% url 'Homeworkselect' %}">
            <button type="submit" class="w3-btn w3-round w3-large w3-grey w3-section">< 이전</button>
        </a>

    </div>

    <!-- /.row -->


</div>
<!-- /.container -->

{% endblock %}