{% extends 'student/base.html' %}
{% load static %}
{% block content %}
<script>
    $(document).ready(function () {
        $('#submit_btn').click(function () {
            var q_table = document.getElementById('ques_table');
            var q_id = document.getElementById('q_id');
            if (q_id in q_table) {
                // $('#t_id').empty();
            }

        });
    });
</script>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'AI' %}">평가연습
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Study' %}">학습평가</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Homeworkselect' %}">숙제하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
        <p class="font-weight-bolder triangle-border left">문제를 잘 읽고 여러분의 생각을 설명해 보세요.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-3">
            <table class="w3-table-all w3-centered" id="ques_table">
                <th class="w3-indigo">
                    학습 목록
                </th>

                {% for d in data %}
                <tr id="t_id">
                    <td>
                        <form action="{% url 'Homeworkquestion' %}" method="GET">
<!--                           {{d.question.question_id}} 대신 {{d.question.question_name}}임-->
                            <button type="submit" class="w3-btn w3-round w3-dark" name="question_id"
                                    value="{{d.question.question_id}},{{d.assignment_id}}" id="q_id">
                                {{d.question.question_name}}
                            </button>
                            <!--                        <a href="{% url 'Studyquestion' %}">{{d.question.question_name}}</a>-->
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <th class="w3-indigo">
                    완료
                </th>
                {% for done in done_list %}
                <tr>
                    <td>
                        {{done}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

      <!-- Post Content Column -->
        <div class="col-lg-9">

            <!-- Title -->
            <form action="{% url 'Homeworkdiagnosis' %}" method="GET">
<!--                {% csrf_token %}-->
                <input type="hidden" name="student_id" id ="student_id" value="{{student_id}}">
                <input type="hidden" name="student_name" id ="student_name" value="{{student_name}}">
            <!-- Title -->
                <h2 class="mt-4"><input type="hidden" class="w3-btn w3-round w3-blue" name="question_id" value="{{f.question.question_id}}"
                                                   id="{{f.question.question_id}}">{{f.question.question_name}}</h2>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ f.question.image.url }}">

                <hr>

                <!-- Post Content -->
                <p>{{f.question.discription}}
                </p>

                <hr>

                <div class="card my-4">
                    <h5 class="card-header">생각을 적어보세요:</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea class="form-control" name='ques_ans' rows="3" id="ques_ans"></textarea>
                        </div>
                        <div class="col-md-10">
                            <table>
                                <td>
                                    <a onclick="alert('제출이 완료되었습니다.\n피드백을 확인하러 가볼까요?'); document.location.href='{% url 'Homeworkdiagnosis' %}'"
                                       style="cursor:pointer">
                                        <button type="submit" class="w3-btn w3-round w3-blue" id="bt">제출하기</button>
                                    </a>
                                </td>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>

      </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}




