{% extends 'student/base.html' %}
{% load static %}
{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_evaluate_exercise' %}">평가연습</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_study_evaluate' %}">학습평가</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'student_select_homework' %}">숙제하기
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <p class="font-weight-bolder triangle-border left">해당 주차 숙제 내역입니다.<br>
                첨삭 전 답안을 수정할 수 있습니다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row my-5">
        <table class="w3-table-all w3-centered" style="text-align:center; table-layout:fixed;">
            <tr class="w3-indigo">
              <th>문항명</th>
              <th>최종 수정날짜</th>
                <th>최종 점수</th>
            </tr>
            {% for data in data %}
            <tr>
              <td>{{data.question.question_name}}</td>
              <td>{{data.solve.modified_date}}</td>
              <td>{{data.solve.score}}</td>
            </tr>
            {% endfor %}
        </table>

        <a href="{% url 'student_check_homework_list' %}">
            <button type="submit" class="w3-btn w3-round w3-large w3-grey w3-section">< 이전</button>
        </a>
    </div>

    <!-- /.row -->


</div>
<!-- /.container -->

{% endblock %}