{% extends 'student/base.html' %}
{% load static %}
{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'AI' %}">평가연습</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Study' %}">학습평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Homeworkselect' %}">숙제하기</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <p class="font-weight-bolder triangle-border left">문항에 대해 자신의 생각을 작성해 보세요.<br>
                다 작성한 후에, 스스로 평가해 봅시다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->


    <!-- Content Row -->
    <div class="card text-white bg-secondary my-5 py-4">
        <div class="card-body">
            <h5 class="text-white m-0 text-center">문제 풀기</h5>

        </div>
    </div>


    <!-- Content Row -->
    <div class="row">
    <form action="{% url 'Selfdiagnosis' %}" method="GET">
      <!-- Post Content Column -->
      <div class="col-lg-12">
          <input type="hidden" class="w3-btn w3-round w3-blue" name="question" value="{{ data.make_question_id }}"
                                               id="{{ data.make_question_id }}">
        <!-- Preview Image -->
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ data.image.url }}" width="120" height="120">

        <hr>

        <!-- Post Content -->
        <p>{{data.discription}}
        </p>

        <hr>
          <!-- Comments Form -->
          <div class="card my-4">
              <input type="hidden" name="q_no" value="1" />
              <h5 class="card-header">생각을 적어보세요:</h5>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <textarea class="form-control" name='ques_ans' rows="3" id="ques_ans"></textarea>
                  </div>
                    <div class="col-lg-6">
<!--                        <a href="{% url 'Selfdiagnosis' %}">-->
                            <button type="submit" class="w3-btn w3-round w3-indigo">스스로 평가하기</button>
<!--                        </a>-->
                        <br>
                    </div>
                </form>
              </div>
          </div>
      </div>

    </form>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% endblock %}