{% extends 'student/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" language="javascript">
    // function ScoreAlert() {
    //      if (confirm("계산한 점수가 맞는지 확인해주세요.(예:1점, 아니오:0점)\n\n총 점수 : 2점\n") == true) {
    //          document.location.href='{% url 'Self' %}';
    //      }else{
    //          return false;
    //      }
    // }

   //  function ScoreAlert() {
   //      const choice = document.querySelectorAll('input[type=radio]:checked').length;
   //      const tm_result = {
   //          0: 0,
   //          1: 1
   //      };
   //      alert(tm_result[choice])
   //      // alert(tm_result[choice].reduce(function (accumulator, currentValue) {return accumulator + currentValue;}, 0))
   //      if (confirm("계산한 점수가 맞는지 확인해주세요.(예:1점, 아니오:0점)\n\n총 점수 : " +tm_result[choice] + "점\n") == true) {
   //           document.location.href='{% url 'Self' %}';
   //       }else{
   //           return false;
   // // document.getElementById("result").innerHTML = tm_result[choice];
   //  }
   //  }
</script>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'AI' %}">평가연습</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Study' %}">학습평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Homeworkselect' %}">숙제하기</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-3">
            <p class="font-weight-bolder triangle-border left">자가채점 결과입니다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="w3-center">
        <div class="w3-center w3-section w3-panel w3-dark w3-topbar w3-bottombar w3-border w3-padding-64">
            <h3 class="w3-text-gray">이번 문항에 대한 채점 결과는</h3>
            <h1><b class="w3-text-black">{{sum_s}}    </b>점입니다.</h1>
        </div>
        <a href="{% url 'Self' %}">
            <button type="submit" class="w3-btn w3-round w3-indigo w3-large w3-margin-bottom">
                다른 문제 더 풀기
            </button>
        </a>
    </div>
    <!--    /.row-->

</div>
<!-- /.container -->

{% endblock %}