{% extends 'student/base.html' %}
{% load static %}
{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_evaluate_exercise' %}">평가연습</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'student_study_evaluate' %}">학습평가
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_select_homework' %}">숙제하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_evaluate_by_self' %}">스스로 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_notice' %}">공지사항</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-6">
            <p class="font-weight-bolder triangle-border left">선생님이 선택한 문항입니다.<br>
                답안 제출을 한번만 할 수 있으므로 성실하게 응답해주세요.
            </p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <form action="{% url 'student_study_evaluate_question' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-3">
                <table class="w3-table-all w3-centered" id="question_table">
                    <th class="w3-indigo">
                        학습 목록
                    </th>
                    {% for data in join_by_assignment_id %}
                    <tr id="t_id">
                        <td>
                            <button type="submit" class="w3-btn w3-round w3-dark" name="question_id"
                                    value="{{data.question.question_id}},{{data.assignment_id}}" id="question_id">
                                {{data.question.question_name}}
                            </button>
                        </td>
                    </tr>
                        {% endfor %}
                    <th class="w3-indigo">
                        완료
                    </th>
                    {% for done in done_list %}
                    <tr>
                        <td>
                            {{done}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!--문항 작성-->
            <div class="col-lg-9">
                <input type="hidden" name="code_num" value="{{first_data.assignment_id}}">
                <h2 class="mt-4" id="q_name">{{first_data.question.question_name}}</h2>
                <hr>
                <!-- Preview Image -->
                <img class="img-fluid rounded mb-4 mb-lg-0" style="width:200px; height:200px;" src="{{ first_data.question.image.url }}">
                <hr>
                <!-- Post Content -->
                <p>{{first_data.question.description}}
                </p>
                <hr>
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">생각을 적어보세요:</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" name="ID_num" value="{{student_id}}">
                            <input type="hidden" name="student_name" value="{{student_name}}">
                            <textarea class="form-control" rows="3" name='question_answer' id="question_answer"></textarea>
                        </div>
                        <div class="col-md-10">
                            <table width="600">
                                <td>
                                    <a onclick="alert('수고하셨습니다. 제출이 완료되었습니다.\n선생님께 첨삭이 요청되었습니다.');" style="cursor:pointer">
                                        {% if button_click %}
                                            <button type="submit" class="w3-btn w3-round w3-blue" name="question_id" value="{{first_data.question.question_id}},{{first_data.assignment_id}}" id="question_id">제출하기</button>
                                        {% else %}
                                            <button type="submit" class="w3-btn w3-round w3-blue" name="question_id" value="{{first_data.question.question_id}},{{first_data.assignment_id}}" id="question_id" disabled>제출하기</button>
                                        {% endif %}
                                    </a>
                                </td>
                            </table>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}