#login-menu ul {
    background-color: #343a40 !important;
    display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    width: 100px;
    z-index: 200;
}

#login-menu:hover ul {
    display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

#login-menu:hover ul li {
    text-align: center;
}

textarea {
    resize: none;
}

.text-box {
    float: none;
    margin: 50px auto;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.text-box textarea {
    width: 630px;
    height: 300px;
    line-height: 70px;
}

.btn-center {
    float: none;
    margin: 50px auto;
}

.cooper-img {
    display: block;
    margin: 0 auto;
}

.btn-file {
    margin-top: 20px;
}

.topic-opt {
    float: none;
    margin: 30px auto;
}

.sct-margin {
    margin: 50px;
}

.login-center {
    float: none;
    margin: 0 auto;
}

.btn3 {
    width: 100px;
    background-color: #2E4A62;
    border: none;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px;
}

.btn3:hover {
    background-color: skyblue;
}

.sct-center {
    float: none;
    margin: 50px auto;
}

#as_name {
    width: 635px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    border-color: gray;
    margin-bottom: 25px;
    text-align: center;
}

#as_discription {
    width: 100%;
    height: 150px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sct-center input {
    margin-top: 20px;
}

#hint-answer-table tr {
    font-weight: bold;
    color: white;
}

#hint-answer-table tr td textarea {
    width: 100%;
    padding: 20px;
    font-weight: normal;
}

#questionTable {
    margin-top: 50px;
}

#questionTable tr {
    font-weight: bold;
    color: white;
}

#questionTable tr td textarea {
    width: 100%;
    padding: 20px;
    font-weight: normal;
}

.add-del-btn {
    margin: 50px 0 0 825px;
}

#add-btn {
    margin-top: 50px;
    margin-right: 50px;
}

#del-btn {
    margin-top: 50px;
}

#make-btn {
    margin-top: 50px;
}

.qr-button form input {
    border-style: solid;
    border-width: 4px;
    width: 160px;
    height: 85px;
    background-color: #2E4A62;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#keyword_btn .qr-button {
    margin-left: 70px;
}

.qr-code-img {
    text-align: right;
    margin-right: 130px;
}

.qr-btn-font {
    font-size: 9pt;
}

.img-margin {
    margin-top: 50px;
}

#code_num {
    width: 280px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    border-color: gray;
    text-align: center;
    margin-bottom: 10px;
}

#code_generate {
    margin-left: 20px;
}

#as_name {
    width: 280px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    border-color: gray;
    padding: 10px;
    margin-bottom: 10px;
}

.spn-margin {
    margin-left: 10px;
}

.sct-input {
    width: 78px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    border-color: gray;
    text-align: center;
}

.sct-ipt-top20 {
    margin-top: 20px;
}

.sct-ipt-top10 {
    margin-top: 10px;
}

#start-date {
    width: 189px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    border-color: gray;
    text-align: center;
    padding-right: 15px;
}

#end-date {
    width: 187px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    border-color: gray;
    text-align: center;
    padding-right: 15px;
}

.question-img {
    width: auto;
    height: 100%;
}

.qstlst-margin {
    margin-top: 50px;
}

.span-left {
    margin-left: 20px;
}

.btn21 {
    width: 80px;
    text-align: center;
    border: solid 2px grey;
    border-radius: 12px;
}

#asi_info {
    text-align: center;
    width: 100%;
}

.asi_info_tr {
    background-color: #343a40;
    color: white;
}

.table-center {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.table-tr {
    font-weight: bold;
    color: white;
}

.class-box-width {
    width: 40px;
}

.pad20 {
    padding: 20px;
}

.input-box {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding-left: 10px;
}

.input-text {
    margin-left: 20px;
    color: gray;
}