{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WA3i</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">홈
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'introduce' %}">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'handbook' %}"">사용방법</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">연구진</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row justify-content-center my-5">

        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <!--            <h1 class="font-weight-light">Welcome</h1>-->
            <p class="font-weight-bolder triangle-border right">
                <span class='text-highlight'>W</span> eb-based <span class='text-highlight'>A</span> utomated! <br>
                <span class='text-highlight'>A</span> ssessment with<br>
                <span class='text-highlight'>A</span> rtificial <span class='text-highlight'>I</span> ntelligence</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo-right.png' %}" width="120"
                 height="120" alt="">
        </div>
        <!-- /.col-md-4 -->
    </div>

    <div class="row align-items-center my-2">

        <div class="col-lg-3">
            <h5> ▶ 서비스 소개 </h5>
        </div>
    </div>

    <div class="row align-items-center my-2">

        <div class="align-items-center col-lg-12">
            <span class='font-weight-bolder text-highlight'>WA3I(와이)는</span> ‘인공지능을 활용한 웹기반 자동평가(Web-based Automated Assessment with Artificial Intelligence)’의 영문 약자로 학생들이 현상에
            대한 의문 ‘왜(Why, 와이)?’에 대한 설명을 효과적으로 구성할 수 있도록 돕는 온라인 교육 프로그램을 뜻합니다. <br><br>

            교육부와 한국과학창의재단이 지원하여 개발되는 WA3I프로그램은 인공지능을 활용하여 학생들이 문제에 대하여 자신의 설명을 완성하면서 서술형 평가를 대비할 수 있도록 개발되었습니다. 미래는 제시된
            답에서 정답을 고르는 것이 아닌 문제를 읽고 자신의 지식과 생각을 바탕으로 합리적이고 논리적인 설명을 구성할 수 있는 능력이 필요합니다. <br><br>

            <span class='font-weight-bolder'>4차 산업혁명 시대를 이끌어 갈 우리 학생들에게 문제 해결력, 의사소통, 창의성은 중요한 역량입니다.</span> 학생들의 미래 역량을 발달시키기 위하여 서술형 평가가 확대되고 있습니다. 이 프로그램을
            통하여 학생들의 문제해결력과 설명 구성 능력이 향상될 수 있습니다. <br><br>

            WA3I ver.1에서는 초등학생에서 고등학생까지 도전할 수 있는 30개 서술형 문항에 대한 설명을 구성하면서 학습할 수 있도록 개발되었습니다. 앞으로 WA3I의 개선된 버전에서는 다음의 기능을
            갖출 것입니다.

            <div class="card text-white main-introduce-card my-5 py-4 text-center">
                <div class="card-body">
                    <p class="text-black-50 m-0">
                        ▷ 학생들이 작성하는 설명의 국어적인 문장 수준을 확인할 수 있는 기능이 추가됩니다. 맞춤법, 띄어쓰기 오류 등 기본적인 요소와 국어 문법에 근거하여 완성된 문장이 갖추어야
                        하는 요소들이 포함되어
                        있는지 확인할 수 있는 기능이 추가됩니다. <br><br>
                        ▷ 교실에서 수업 전과 후에 학생들이 서술형 평가 문항을 수행해보고 선생님이 바로 학생들의 응답을 분석할 수 있는 기능이 추가됩니다. 학생들은 수업 시간에 선생님과 함께 자신의
                        설명에 대한 피드백을
                        받을 수 있습니다. <br><br>
                        ▷ 모든 문항은 QR코드로 제공될 것입니다. 선생님은 다양한 학습 자료를 개발하시면서 WA3I 문항의 QR코드를 활용하실 수 있으며, 학생들은 스마트폰에서 바로 설명을
                        구성하면서 학습할 수 있도록
                        다양한 기능들이 제공될 것입니다.
                </div>
            </div>


        </div>
    </div>


</div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
