{% extends 'student/base.html' %}
{% load static %}
{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'AI' %}">평가연습
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Study' %}">학습평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Homework' %}">숙제하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
        <p class="font-weight-bolder triangle-border left">문제를 잘 읽고 여러분의 생각을 설명해 보세요.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4">
        <div class="card-body">
            <a class="w3-btn w3-small w3-light-grey" href="{% url 'AI' %}">전체문항</a>
            <h5 class="text-white m-0 text-center">문제 풀기</h5>

        </div>
    </div>


    <!-- Content Row -->
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h2 class="mt-4">지붕 위의 발전기</h2>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'student/image/img1.png' %}">

        <hr>

        <!-- Post Content -->
        <p>시연이 아버지는 새로 집을 지으시면서 지붕 위에 태양광 발전 장치를 설치하셨습니다. 비용이 많이 들었지만 "태양광 발전"이 석
            탄이나 석유와 같은 화석 에너지에 비해 우리가 미래에도 지속 가능하게 살아가는데 도움이 된다고 생각했기 때문에 설치하기로
            결정하였습니다. 태양광 발전이 왜 석탄하고 석유보다 미래에도 지속 가능하게 살아가는 데에 도움이 될까요? 과학적으로 설명해
            봅시다.
        </p>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <input type="hidden" name="q_no" value="1" />
          <h5 class="card-header">생각을 적어보세요:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </form>
                <div class="col-md-10">
                    <table>
                        <td>
                            <a onclick="alert('제출이 완료되었습니다.\n피드백을 확인하러 가볼까요?'); document.location.href='{% url 'AIdiagnosis' %}'" style="cursor:pointer">
                                <button type="submit" class="w3-btn w3-round w3-blue">제출하기</button>
                            </a>
                        </td>
                        <td>
                            <select class="form-control form-control-a">
                                <option value="">학교</option>
                                <option>초등학교</option>
                                <option>중학교</option>
                                <option>고등학교</option>
                            </select>
                        </td>
                        <td>
                             <select class="form-control form-control-a">
                                <option value="">성별</option>
                                <option>남자</option>
                                <option>여자</option>
                            </select>
                        </td>
                    </table>
                </div>
<!--            </form>-->
          </div>
        </div>

      </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}



