{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>WA3i</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">


        <script type="text/javascript" language="javascript">
            function IDAlert() {
                 if (confirm("입력하신 아이디가 맞는지 확인해주세요.\n 맞다면 <확인>을 눌러주세요.") == true) {
                     document.location.href='{% url 'Homeworkselect' %}';
                 }else{
                     return false;
                 }
            }

            function ScoreAlert() {
                 if (confirm("계산한 점수가 맞는지 확인해주세요.(예:1점, 아니오:0점)\n\n총 점수 : 2점\n") == true) {
                     document.location.href='{% url 'Self' %}';
                 }else{
                     return false;
                 }
            }

        </script>

    </head>
    <body>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'student/image/기관.png' %}" style="display: block; margin: 0px auto;">
        <footer class="page-footer py-5 bg-dark">
            <div class="container" align="center">
                <p class="m-0 text-center text-white">Copyright &copy; WA3I</p>
            </div>
        </footer>
        <!-- Footer -->



        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'student/vendor/jquery/jquery.twbs-toggle-buttons.min.js' %}"></script>

        <script src="jquery.nicelabel.js"></script>

    </body>

</html>
