{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

<!--        -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        -->

        <title>WA3i</title>

<!--        -->
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link href="{% static 'student/css/jquery-nicelabel.css' %}" rel="stylesheet" type="text/css" />
        <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
        <style>
            .clearfix{clear:both;overflow: auto;}
            .text_checkbox{float:left;margin-left:20px;}
            .text_radio{float:left;margin-left:20px;}
        </style>
<!--        -->

        <!-- Bootstrap core CSS -->
        <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

    </head>

    <body>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'student/image/기관.png' %}" style="display: block; margin: 0px auto;">
        <footer class="page-footer py-5 bg-dark">
            <div class="container" align="center">
                <p class="m-0 text-center text-white">Copyright &copy; WA3I</p>
            </div>
        </footer>
        <!-- Footer -->



        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'student/vendor/jquery/jquery.twbs-toggle-buttons.min.js' %}"></script>

        <script src="jquery.nicelabel.js"></script>

    </body>

</html>
