{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>WA3i</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
        <link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script type="text/javascript" language="javascript">

            function IDAlert() {
                var ID_num = document.getElementById("ID_num").value
                var msg = confirm("입력하신 아이디가 맞는지 확인해주세요.\n맞다면 <확인>을 눌러주세요.\n\nID : " + ID_num)
                 if ( msg == true) {
                     return checkID(ID_num);
                 }else{
                     return false;
                 }
            }

            function CodeAlert() {
                var msg = confirm("입력하신 코드가 맞는지 확인해주세요.\n맞다면 <확인>을 눌러주세요.\n\nCODE : " + document.getElementById("code_num").value)
                 if ( msg == true) {
                     document.location.href='{% url 'Homeworkquestion' %}';
                 }else{
                     return false;
                 }
            }

            function ScoreAlert() {
                 if (confirm("계산한 점수가 맞는지 확인해주세요.(예:1점, 아니오:0점)\n\n총 점수 : 2점\n") == true) {
                     document.location.href='{% url 'Self' %}';
                 }else{
                     return false;
                 }
            }

            function AIAlert() {
                var code_num = document.getElementById("code_num").value
                var ID_num = document.getElementById("ID_num").value
                var AImsg = confirm("입력하신 코드와 아이디가 맞는지 확인해주세요.\n맞다면 <확인>을 눌러주세요.\n\nCODE : "
                + code_num + "\nID : "+ ID_num);
                 if ( AImsg == true) {
                     return checkInfo(code_num,ID_num);
                 }else{
                     return false;
                 }
            }

<!--            $(document).ready(function() {-->
<!--                $('#sub_btn').click(function() {-->
<!--                     var code_num = $('#code_num').val();-->
<!--                     var ID_num = $('#ID_num').val();-->
<!--                      $.ajax({-->
<!--                          url: '/student/check_code/',-->
<!--                          data: {(document.querySelector('input[id="code_num"]','input[id="ID_num"]');).value},-->
<!--                          datatype: 'json',-->
<!--                          success: function (data) {-->
<!--                              console.log(data['overlap']);-->
<!--                              if (data['overlap'] == "pass") {-->
<!--                                document.location.href='{% url 'Studyquestion' %}';-->
<!--                              } else {-->
<!--                                alert("코드와 ID를 다시 확인하세요.");-->
<!--                                return false;-->
<!--                                }-->
<!--                      }-->
<!--            });-->
<!--            }-->



            function checkInfo(data) {
            code_overlap_input = document.querySelector('input[id="code_num"]');
            ID_overlap_input = document.querySelector('input[id="ID_num"]');

            $.ajax({
              url: '/student/check_code/',
              data: {
                'code_num': code_overlap_input.value,
                'ID_num': ID_overlap_input.value
              },
              datatype: 'json',
              success: function (data) {
                console.log(data['overlap']);
                if (data['overlap'] == "pass") {
                  document.location.href='{% url 'Studyquestion' %}';
                } else {
                  return false;
                }
              }
            });
          }

<!--코드만 성공-->
<!--            function checkInfo(data) {-->
<!--                alert("check");-->
<!--            code_overlap_input = document.querySelector('input[id="code_num"]');-->

<!--            $.ajax({-->
<!--              url: '/student/check_code/',-->
<!--              data: {-->
<!--                'code_num': code_overlap_input.value-->
<!--              },-->
<!--              datatype: 'json',-->
<!--              success: function (data) {-->
<!--                console.log(data['overlap']);-->
<!--                if (data['overlap'] == "pass") {-->
<!--                  document.location.href='{% url 'Studyquestion' %}';-->
<!--                } else {-->
<!--                  return false;-->
<!--                }-->
<!--              }-->
<!--            });-->
<!--          }-->



<!--ID만-->
            function checkID(ID_num) {
            ID_overlap_input = document.querySelector('input[id="ID_num"]');

            $.ajax({
              url: '/student/check_ID/',
              data: {
                'ID_num': ID_overlap_input.value
              },
              datatype: 'json',
              success: function (data) {
                console.log(data['overlap']);
                if (data['overlap'] == "pass") {
                  document.location.href='{% url 'Homeworklist' %}';
                } else {
                  return false;
                }
              }
            });
          }


            function Print() {
            var print_ans = document.getElementById("print_ans");
                print_ans = temp;
                }
        </script>
        <script>
            $(document).ready(function () {
            $('#search').click(function () {
                var user_input = $('#user_input').val();
                 $.ajax({
                    url: '/student/search/',
                    data: {user_input: user_input},
                    success: function (data) {
                        var search_data = data.search_data;
                        var num = search_data.length;
                        if ( num == 0 ) {
                            alert('검색 결과가 존재하지 않습니다.');
                        } else {
                            $("div").remove("#question_list");
                        for (var i = 0; i < num; i++) {
                            $("#whole_card").after(
                                    '<div id="question_list" class="col-md-3 mb-5">' +
                                    '<div class="card h-100" align="center">' +
                                    '<div class="card-body">' +
                                    '<img class="img-fluid rounded mb-4 mb-lg-0" src="' +
                                    '/static/' +
                                    search_data[i].question_image +
                                    '">' +
                                    '</div>' +
                                    '<span class="card-footer">' +
                                    '<a href="{% url 'AIquestion' %}" class="card-link" name="q_name" id="q_name">' +
                                    search_data[i].question_name +
                                    '</a>' +
                                    '</span>' +
                                    '</div>' +
                                    '</div>'
                            )}
                        }}
                 });
            });
        });


        $(document).ready(function () {
            $('#search_name').click(function () {
                var name_input = $('#name_input').val();
                 $.ajax({
                    url: '/student/search_name/',
                    data: {name_input: name_input},
                    success: function (data) {
                        var search_data = data.search_data;
                        var num = search_data.length;
                        if ( num == 0 ) {
                            alert('검색 결과가 존재하지 않습니다.');
                        } else {
                            $("div").remove("#question_list");
                        for (var i = 0; i < num; i++) {
                            $("#whole_card").after(
                                    '<div id="question_list" class="col-md-3 mb-5">' +
                                    '<div class="card h-100" align="center">' +
                                    '<div class="card-body">' +
                                    '<img class="img-fluid rounded mb-4 mb-lg-0" src="' +
                                    '/static/' +
                                    search_data[i].question_image +
                                    '">' +
                                    '</div>' +
                                    '<span class="card-footer">' +
                                    '<a href="{% url 'Selfquestion' %}" class="card-link" name="q_name" id="q_name">' +
                                    search_data[i].question_name +
                                    '</a>' +
                                    '</span>' +
                                    '</div>' +

                                    '</div>'
                            )}
                        }}
                 });
            });
        });


        $(document).ready(function () {
            $('#cat_school').change(function () {
                var option1 = $("#cat_school option:selected").val();
                var option2 = $("#cat_sex option:selected").val();
                $.ajax({
                    url: '/student/change_category/',
                    data: {option1: option1,option2: option2},
                    success: function (data) {
                        var option1_data = data.c1;
                        var option2_data = data.c2;
                        var i=0;
                        var j=0

                        if (option1_data == 1):
                            i=1;
                        else if (option1_data == 2):
                            i=2;
                        else:
                            i=3;

                         if (option2_data == 4):
                            j=4;
                        else:
                            j=5;

                        $("span").remove("#sch_sex");
                                $("#help_btn").after(
                                    '<span class="w3-right">' +
                                    '<img src="' +
                                    '/static/student/image/' +
                                    'ico_' +
                                    i +
                                    '.png"' +
                                    ' width="35" height="35" scale="0">' +
                                    '<img src="' +
                                    '/static/student/image/' +
                                    'ico_' +
                                    j +
                                    '.png"' +
                                    ' width="35" height="35" scale="0">' +
                                    '</span>' +

                                )

                            }}
                })
                })
            });

        </script>

    </head>
    <body>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'student/image/기관.png' %}" style="display: block; margin: 0px auto;">
        <footer class="page-footer py-5 bg-dark">
            <div class="container" align="center">
                <p class="m-0 text-center text-white">Copyright &copy; WA3I</p>
            </div>
        </footer>
        <!-- Footer -->



        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'student/vendor/jquery/jquery.twbs-toggle-buttons.min.js' %}"></script>

        <script src="jquery.nicelabel.js"></script>

    </body>

</html>
