{% extends 'student/base.html' %}
{% load static %}
{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'student' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'student' %}">좋은 설명
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'AI' %}">평가연습</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Study' %}">학습평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Homework' %}">숙제하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Self' %}">스스로 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Notice' %}">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120" height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light">Welcome</h1>
             <p class="font-weight-bolder triangle-border left">좋은 설명을 작성하는데 필요한 학습자료입니다.<br>
            문제 풀이 전 학습합시다.
            </p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
        <div class="card-body">

                 <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{% static 'student/image/pdf.png' %}" download>
                              <img src="{% static 'student/image/pdf.png' %}" alt="" width="60" height="50">서술형 문제풀이
                            </a>
                        <td><a href="{% static 'student/image/pdf.png' %}" download>
                              <img src="{% static 'student/image/pdf.png' %}" alt="" width="60" height="50">좋은 설명이란?</a></td>
                        <td><a href="{% static 'student/image/pdf.png' %}" download>
                              <img src="{% static 'student/image/pdf.png' %}" alt="" width="60" height="50">좋은 국어 표현</a></td>
                    </tr>
                     <tr>
                        <td><a href="{% static 'student/image/pdf.png' %}" download>
                              <img src="{% static 'student/image/pdf.png' %}" alt="" width="60" height="50">올바른 논술</a></td>
                        <td><a href="{% static 'student/image/pdf.png' %}" download>
                              <img src="{% static 'student/image/pdf.png' %}" alt="" width="60" height="50">과정 중심 평가</a></td>
                        <td><a href="{% static 'student/image/pdf.png' %}" download>
                              <img src="{% static 'student/image/pdf.png' %}" alt="" width="60" height="50">창의성 키우기</a></td>
                    </tr>
                    <tbody>
                </table>



            </div>
    </div>


</div>
<!-- /.container -->

{% endblock %}