{% extends 'sysop/base.html' %}
{% load static %}

{% block css %}
<style>
    .input-box {
        width: 635px;
        height: 50px;
        border-style: solid;
        border-width: 1px;
        margin-top: 20px;
        border-color: gray;
        margin-bottom: 25px;
        text-align: center;
    }

    .textarea-box {
        width: 100%;
        height: 150px;
        padding: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .box {
        display: none;
        width: 100%;
    }

    button:hover + .box, .box:hover {
        display: block;
        position: relative;
        z-index: 100;
    }

</style>

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<!-- login -->
<link rel="stylesheet" type="text/css" href="{% static 'sysop/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sysop/css/util.css' %}">

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'sysop' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sysop' %}">홈
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SYS_view_teacher_data' %}">신규교사정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SYS_view_quiz' %}">문항검토</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'SYS_view_question' %}">문항생성</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">admin 님</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'sysop_logout' %}">로그아웃</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">


    <!-- Heading Row -->
    <!--    <div class="row align-content-center my-5">-->
    <div class="row justify-content-center my-5">

        <div class="col-lg-2">
            <img style="width: 120px; height: auto;" class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'mainpage/image/logo.png' %}" alt="">
        </div>

        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <!--            <h1 class="font-weight-light">Welcome</h1>-->
            <p class="font-weight-bolder triangle-border left">
                문제를 수정할 수 있는 페이지 입니다. <br><br>

                1. 문항명을 수정할 수 있습니다. <br>
                2. 카테고리, 배운개념을 수정할 수 있습니다. <br>
                2. 문항내용을 수정할 수 있습니다. <br>
                3. 모범답안을 수정할 수 있습니다. <br>
                4. 힌트를 수정할 수 있습니다.
            </p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>

        <!-- /.col-md-4 -->
    </div>

    <div class="row justify-content-center">
        <form action="{% url 'SYS_view_question' %}">
            <button style="width:100%" class="btn btn-outline-success">
                뒤로가기
            </button>
        </form>
    </div>

    <div class="row justify-content-center my-5">

        <div>
            <table style="text-align: center;">
                <tr style="border: 1px solid #d6d6d6; background-color: #343a40; color: white;">
                    <th width="600px">문항명</th>
                    <th width="440px">등록일자</th>
                </tr>
                <tr style="border: 1px solid #d6d6d6;">
                    <td>{{ question.question_name }}</td>
                    <td> {{ question.made_date }}</td>
                </tr>
            </table>
            <br>
            <button class="btn btn-secondary">현재사진 미리보기</button>
            <div class="box">
                <img src="/media/{{question.image}}" alt="이미지가 없습니다" width="300px" height=auto>
            </div>
            <form name="change_question_form" action="{% url 'SYS_change_question_info' %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="question_id" value="{{ question.question_id }}">
                <strong>사진을 수정할 경우 새로운 사진파일을 업로드해 주세요.</strong>
                <input type="file" name="image">
                <br>
                <span>문항제목 :
                    <input class="input-box" type="text" style="width:100%" name="question_name"
                           value="{{ question.question_name }}">
            </span><br>
                <div class="row">

                    <div id="category" class="col-lg-4">

                    <span>카테고리 :
                    <select class="input-box form-control form-control-a" name="question_category_id">
                        <option disabled>카테고리</option>
                        {% for category_data in category %}
                        {% if category_data.category_id == question.category_id %}
                        <!--                    <option selected="selected" value="{{ data.category_name }}">{{ category_data.category_name }}</option>-->
                        <option selected="selected" value="{{ category_data.category_id }}">{{ category_data.category_name }}
                        </option>
                        {% else %}

                        <option value="{{ category_data.category_id }}">{{ category_data.category_name }}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                      </span>
                    </div>

                    <div class="col-lg-8">
                    <span>배운개념 :
                    <input class="input-box" type="text" style="width:100%" name="question_concept"
                           value="{{ question.ques_concept }}">
                    </span>
                    </div>

                </div>

                <span>문항내용 :
                    <textarea class="textarea-box" type="text" style="width:100%"
                              name="question_discription">{{ question.discription }}</textarea>
            </span><br>
                <span>모범답안 :
                    <textarea class="textarea-box" type="text" style="width:100%"
                              name="question_answer">{{ question.answer }}</textarea>
            </span><br>
                <span>힌트 :
                    <textarea class="textarea-box" type="text" style="width:100%"
                              name="question_hint">{{ question.hint }}</textarea>
            </span><br>

                <button style="width:100%" type="submit" class="change_question btn btn-primary">
                    저장하기
                </button>
            </form>
        </div>

    </div>
</div>

<!-- /.row -->

<!-- /.container -->
<img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'sysop/image/mark.png' %}"
     style="display: block; margin: 0px auto;">

{% else %}
<script>
    document.location.href = "{% url 'sysop_login' %}";
</script>
{% endif %}

{% endblock %}


{% block script %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'sysop/function/check.again.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}