{% extends 'sysop/base.html' %}
{% load static %}

{% block css %}

<!--datatable source-->
<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" type="text/css"/>

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<!-- login -->
<link rel="stylesheet" type="text/css" href="{% static 'sysop/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sysop/css/util.css' %}">

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'sysop' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sysop' %}">홈
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'SYS_view_teacher_data' %}">신규교사정보
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SYS_view_quiz' %}">문항검토</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SYS_view_question' %}">문항생성</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">admin 님</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'sysop_logout' %}">로그아웃</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row justify-content-center my-5">
        <div class="col-lg-2">
            <img style="width: 120px; height: auto;" class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'mainpage/image/logo.png' %}" alt="">
        </div>
        <div class="col-lg-5">
            <p class="font-weight-bolder triangle-border left">
                선생님 페이지에서 가입하신 선생님 명단입니다. <br><br>

                1. 신규선생님을 승인할 수 있습니다. <br>
                2. 승인된 선생님을 승인 취소할 수 있습니다. <br>
            </p>
        </div>
        <br><br>
        <div class="container">
            <table style="text-align: center; width:100%;" id="result-table" class="display">
                <thead>
                <tr style="background-color: #343a40; color: white;">
                    <th>순번</th>
                    <th>이름</th>
                    <th>학교</th>
                    <th>이메일</th>
                    <th>승인여부</th>
                    <th>승인하기</th>
                </tr>
                </thead>
                <tbody>
                {% for item in teacher %}
                <tr>
                    <td>{{ item.teacher_id }}</td>
                    <td>{{ item.teacher_name }}</td>
                    <td>{{ item.school }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        {% if item.approve == 0 %}
                        미승인
                        {% else %}
                        승인
                        {% endif%}
                    </td>
                    <td>
                        {% if item.approve == 0 %}
                        <form name="change_approve_ok" action="{% url 'SYS_zero_to_one' %}" method="get">
                            <button type="submit" class="approve-ok btn btn-outline-primary" name="teacher_id"
                                    value="{{ item.teacher_id }}"> 승인하기
                            </button>
                        </form>
                        {% else %}
                        <form name="change_approve_cancel" action="{% url 'SYS_one_to_zero' %}" method="get">
                            <button type="submit" class="approve-cancel btn btn-outline-danger" name="teacher_id"
                                    value="{{ item.teacher_id }}"> 취소하기
                            </button>
                        </form>
                        {% endif%}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container -->
<img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'sysop/image/mark.png' %}"
     style="display: block; margin: 0px auto;">

{% else %}
<script>
    document.location.href = "{% url 'sysop_login' %}";
</script>
{% endif %}

{% endblock %}

{% block script %}

<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'sysop/function/check.again.js' %}"></script>
<script src="{% static 'sysop/function/datatable.js' %}"></script>

{% endblock %}