<!DOCTYPE html>
<html lang="ko">
<head>
    <title>WA3I</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- 차트 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

<input id="labels" type="hidden" value="{{ labels }}">
<input id="data" type="hidden" value="{{ data }}">

<!-- 차트 -->
<script>
    var labels = $('#labels').val().split(',');
    for (i = 0; i < labels.length; i++) {
        labels[i] = labels[i].replace('[', '');
        labels[i] = labels[i].replace(']', '');
        labels[i] = labels[i].replace(',', '');
        labels[i] = labels[i].replace("'", '');
        labels[i] = labels[i].replace("'", '');
    }

    var data = $('#data').val().split(',');
    for (i = 0; i < data.length; i++) {
        data[i] = data[i].replace('[', '');
        data[i] = data[i].replace(']', '');
        data[i] = data[i].replace(',', '');
        data[i] = data[i].replace("'", '');
        data[i] = data[i].replace("'", '');
        data[i] = parseFloat(data[i]);
    }

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Score',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>
</html>
