{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

{% if messages %}
{% for message in messages %}
<input id="message" type="hidden" value="{{ message }}">
{% endfor %}
{% endif %}

<!-- Page Content -->
<div class="container">
    <form action="{% url 'make_question_save' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="teacher_id" value="{{ user.teacher_id }}">
<!--        <input type="hidden" name="path" value="{{ request.path }}">-->
        <!-- Heading Row -->
        <div class="row justify-content-center my-5">
            <div class="col-lg-2">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                     height="120" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <p class="font-weight-bolder triangle-border left">
                    좋은 문항을 학생들이 학습할 수 있도록 공유해 주세요.<br>
                    문항 그리고 채점 준거별 모범 답안을 작성해 주세요.<br>
                    참고자료로 그림이나 사진 파일을 업로드 할 수 있습니다.</p>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-7 sct-center">
                <span>문항 제목 : <input id="as_name" type="text" name="question_name" placeholder="문항 제목을 입력해 주세요."></span><br>
                <span>문항 내용 : <textarea id="as_discription"
                                        type="text" name="discription"
                                        placeholder="문항 내용을 작성해 주세요."></textarea></span><br>
                <strong>그림 또는 사진 파일은 아래의 버튼을 클릭하여 업로드해 주세요.</strong><input type="file"
                                                                           name="image">
            </div>
            <div class="col-11">
                <table border="1" bordercolor="gray" width="1000" align="center" id="hint-answer-table">
                    <tr name="trQuestion" align="center" bgcolor="#2E4A62">
                        <th height="40px">도움 생각</th>
                        <th height="40px">모범 답안</th>
                    </tr>
                    <tr>
                        <td><textarea type="text" name="hint"
                                      placeholder="도움 생각을 작성해 주세요."></textarea></td>
                        <td><textarea type="text" name="answer"
                                      placeholder="모범 답안을 작성해 주세요."></textarea></td>
                    </tr>
                </table>
                <table id="questionTable" border="1" bordercolor="gray" width="1000" align="center">
                    <tr name="trQuestion" align="center" bgcolor="#2E4A62">
                        <th height="40px">채점 준거</th>
                    </tr>
                    <tr>
                        <td><textarea type="text" name="mark_text"
                                      placeholder="채점 준거를 작성해 주세요."></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="col-12 add-del-btn">
                <button type="button" id="add-btn" class="btn3">추가</button>
                <button type="button" id="del-btn" class="btn3">삭제</button>
            </div>
            <!-- /.row -->
            <div class="col-lg-2 btn-center">
                <button id="make-btn" type="submit" class="w3-button w3-large w3-round w3-blue">문항
                    생성 완료
                </button>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
