{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row justify-content-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                 height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <!--            <h1 class="font-weight-light">QR코드</h1><br>-->
            <p class="font-weight-bolder triangle-border left">
                문항을 선택하면 QR코드가 생성됩니다. 생성된 QR코드를<br>
                스마트폰으로도 인공지능 자동평가를 수행할 수 있습니다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <div class="justify-content-center my-5" id="keyword_btn">
        <div class="input-group mb-3">
            <div class="input-group-prepend">

                <span class="input-group-text" id="basic-addon3">
<!--                    "{{ request.scheme }}://{{ request.get_host }}"-->
                해당 링크로 QR코드가 만들어집니다.
                </span>
            </div>

            <input type="text" value="원하는문제를선택해주세요."
                   class="form-control" id="qr_code_url" aria-describedby="basic-addon3">
        </div>
        <div class="col-7 sct-center" id="qrcode" style="width:100px; height:100px; margin-top:30px;"></div>
    </div>

    <div class="row" id="keyword_btn">
        <div class="col-md-10 qr-button">
            <form>
                {% for data in question_data %}
                <input id="{{ data.question_id }}" class="qr-btn-font" type="button" value="{{ data.question_name }}">
                {% endfor %}
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'teacher/js/qrcode.js' %}"></script>
<script src="{% static 'teacher/js/qrcode.min.js' %}"></script>
<script src="{% static 'teacher/js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.qr-btn-font').click(function () {
            var basic_url_path = "/student/evaluate_exercise/question/?question_id=";
            var question_id = $(this).attr('id');
            $('#qr_code_url').val('{{ request.scheme }}://{{ request.get_host }}' + basic_url_path + question_id);
            var e = $.Event("keyup", {keyCode: 13});
            $('#qr_code_url').focus();
            $('#qr_code_url').trigger(e);
        });
    });
</script>
{% endblock %}