{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row justify-content-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <p class="font-weight-bolder triangle-border left">
                문항을 선택하면 QR코드가 생성됩니다. 생성된 QR코드를<br>
                스마트폰으로도 인공지능 자동평가를 수행할 수 있습니다.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <div class="justify-content-center my-5" id="keyword_btn">
        <div class="input-group mb-3">
            <div class="input-group-prepend">

                <span class="input-group-text" id="basic-addon3">
                    <!--                    "{{ request.scheme }}://{{ request.get_host }}"-->
                    해당 링크로 QR코드가 만들어집니다.
                </span>
            </div>

            <input style="height: 45px;" type="text" value="원하는문제를선택해주세요." class="form-control" id="qr_code_url"
                aria-describedby="basic-addon3">
            <input id="linkCopy-QRcode" style="margin-left: 20px;" type="button"
                class="w3-button w3-large w3-round w3-blue" value="링크 복사">
            <!-- <a id="downlad-QRcodeImage" href="" download> -->
            <input id="downlad-QRcodeImage" style="margin-left: 20px;" type="button"
                class="w3-button w3-large w3-round w3-blue" value="이미지 저장">
            <!-- </a> -->
        </div>
        <div class="col-7 sct-center" id="qrcode" style="width:100px; height:100px; margin-top:30px;"></div>
    </div>

    <div class="row" id="keyword_btn">
        <div class="col-md-10 qr-button">
            <form>
                {% for data in question_data %}
                <input id="{{ data.question_id }}" class="qr-btn-font" type="button" value="{{ data.question_name }}">
                {% endfor %}
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'teacher/js/qrcode.js' %}"></script>
<script src="{% static 'teacher/js/qrcode.min.js' %}"></script>
<script src="{% static 'teacher/js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.qr-btn-font').click(function () {
            var basic_url_path = "/student/evaluate_exercise/question/?question_id=";
            var question_id = $(this).attr('id');
            $('#qr_code_url').val('{{ request.scheme }}://{{ request.get_host }}' + basic_url_path + question_id);
            var e = $.Event("keyup", { keyCode: 13 });
            $('#qr_code_url').focus();
            $('#qr_code_url').trigger(e);
            $('#'+question_id).focus();
            $('#'+question_id).trigger(e);
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#linkCopy-QRcode").click(function () {
            var QRcodeLink = document.getElementById("qr_code_url");
            QRcodeLink.select();
            document.execCommand("copy");
            alert("URL이 클립보드에 복사되었습니다.");
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#downlad-QRcodeImage").click(function () {
            var src = $('#qrcode').children('img').attr("src");
            var a = $("<a>")
                .attr("href", src)
                .attr("download", "QRcode.png")
                .appendTo("body");

            a[0].click();

            a.remove();
        });
    });
</script>

{% else %}

<script>
    alert('로그인을 하셔야 이용이 가능합니다. 먼저 로그인을 해주세요.');
    document.location.href = "{% url 'teacher_login' %}";
</script>

{% endif %}

{% endblock %}