{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- search -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">
<link href="{% static 'teacher/css/question_selection.css' %}" rel="stylesheet">

{% if messages %}
{% for message in messages %}
<input id="message" type="hidden" value="{{ message }}">
{% endfor %}
{% endif %}

<!-- Page Content -->
<div class="container">
    <form action="{% url 'question_selection_save' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="path" value="{{ request.path }}">
        <input type="hidden" name="teacher_id" value="{{ user.teacher_id }}">
        <!-- Heading Row -->
        <div class="row justify-content-center my-5">
            <div class="col-lg-2">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                     height="120" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <p class="font-weight-bolder triangle-border left">
                    8자리 코드를 입력하고, '학습평가'와 '숙제하기' 중 하나를<br>
                    선택해 주세요. 그리고 원하는 문항을 선택할 수 있습니다.</p>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-lg-3 sct-center">
                <button type="button" class="w3-button w3-large w3-round w3-blue" id="copy">기존 시험지 복사하기</button>
            </div>

            <div class="sct-margin">
                <select id="evaluation_type" name="evaluation_type">
                    <option value="선택없음" selected="selected">선택</option>
                    <option value="학습평가">학습평가</option>
                    <option value="숙제하기">숙제하기</option>
                </select>
                <p></p>
                <input id="code_num" type="text" name="code_num" placeholder="코드 생성 버튼을 클릭해 주세요." maxlength="8">
                <a id="code_generate" class="w3-button w3-large w3-round w3-blue">생성</a><br>
                <input type="text" id="as_name" name="question-title" maxlength="36" placeholder="  시험지 제목을 입력해 주세요.">
                <span class="spn-margin">&nbsp학년 : <input class="sct-input sct-ipt-top20" type="text"
                                                          name="grade"></span>
                <span class="spn-margin">반 : <input class="sct-input sct-ipt-top10" type="text" name="class"></span><br>
                <span>시작날짜 : <input type="date" id="start-date" name="start-date"></span>
                <span class="span-left">종료날짜 : <input type="date" id="end-date" name="end-date"></span><br>
            </div>
            <div class="container">
                <br/>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="card card-sm">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <!--end of col-->
                                <div class="col">
                                    <input id="user_input"
                                           class="form-control form-control-lg form-control-borderless"
                                           placeholder="키워드를 입력해 주세요.">
                                </div>
                                <!--end of col-->
                                <div class="col-auto">
                                    <button type="button" id="search" class="w3-button w3-large w3-round w3-blue">
                                        검색
                                    </button>
                                </div>
                                <!--end of col-->
                            </div>
                        </div>
                    </div>
                    <!--end of col-->
                </div>
            </div>

            <div id="category" class="col-12 sct-margin">
                <select id="category_option" name="category">
                    <option value="select" selected="selected">카테고리</option>
                    {% for data in category_data %}
                    <option value="{{ data.category_name }}">{{ data.category_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="question_list" class="row">
                {% for data in question_data %}
                <div class="col-md-3 mb-5">
                    <div class="card h-100" align="center">
                        <div class="card-body">
                            <img class="img-fluid rounded mb-4 mb-lg-0 question-img" src="{{ data.image.url }}">
                        </div>
                        <span class="card-footer ctm-check">
                            <input type="checkbox" id="{{ data.question_id }}" name="question"
                                   value="{{ data.question_id }}">
                            <label for="{{ data.question_id }}"><i></i>{{ data.question_name }}</label>
                        </span>
                    </div>
                </div>
                <!-- /.col-md-4 -->
                {% endfor %}
            </div>
        </div>
        <!-- /.row -->
        <div class="col-lg-2 btn-center">
            <button id="make-submit" type="submit" class="w3-button w3-large w3-round w3-blue">문항 선택 완료</button>
        </div>
    </form>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}