{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row justify-content-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                 height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <!--            <h1 class="font-weight-light">응답분석</h1><br>-->
            <p class="font-weight-bolder triangle-border left">
                Excel에 입력된 학생들의 응답을 빠르게 분석하는<br>
                도구입니다. 아래 파일 불러오기 버튼을 클릭하여<br>
                학생들의 응답이 있는 Excel 파일 위치 경로를 선택해 주세요.<br>
                Excel 파일은 csv 형태이어야 합니다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <div class="col-lg-7 btn-center">
        <input class="btn-file" type="file" name="file">
    </div>
    <div class="col-lg-2 btn-center">
        <button type="submit" class="w3-button w3-large w3-round w3-blue">응답 분석하기</button>
    </div>

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
