{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}


<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

<style type="text/css">
    [class*="a-set"] {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    [class*="count-"] {
        text-align: center;
    }

    tr {
      border-bottom:1pt solid #ddd;
    }

    .jscolor {
      color: transparent !important;
    }

    td {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      min-width: 100px;
      max-width: 600px;
    }

    .tr-header {
      height: 100px;
    }
</style>

<!-- Page Content -->
<div class="container">
    <div id="front-page">
        <!-- Heading Row -->
        <div class="row justify-content-center my-5">
            <div class="col-lg-2">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                    height="120" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <!--            <h1 class="font-weight-light">응답분석</h1><br>-->
                <p class="font-weight-bolder triangle-border left">
                    Excel에 입력된 학생들의 응답을 빠르게 분석하는<br>
                    도구입니다. 학생들의 응답이 있는 Excel 파일 위치<br>
                    경로를 선택해 주세요. 응답은 첫 번째 열에 있어야 합니다.<br>
                    Excel 파일은 .xlsx 확장자이어야 합니다.</p>
                <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <div class="col-lg-2 btn-center">
            <button id="response_analysis_submit_btn" type="submit" class="w3-button w3-large w3-round w3-blue">응답 분석하기</button>
        </div>
    </div>
    <div id="back-page" style="padding:0; display:none;">
        
        <div class="navbar navbar-inverse" style="margin-bottom: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.08); box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); background-color: #FFF">
            <div class="container-fluid">
                <div class="row" style="width:100%;">
                    <div class="navbar-header col-sm-2">
                        <a class="navbar-brand" href="/teacher/response_analysis/"><b style="color: #000;">응답 분석하기</b></a>
                    </div>
                    <div class="col-sm-3" id="temp">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" accept=".xlsx" id="validatedCustomFile" required >
                        <label class="custom-file-label" for="validatedCustomFile">파일을 선택하세요...</label>
                        <div class="invalid-feedback">browse local file...</div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                    <button id="submitbutton" type="button" class="btn btn-outline-secondary">엑셀 파일 불러오기</button>
                    </div>
                    <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" id="addKeyWords-input" class="form-control" placeholder="키워드 추가(스페이스바로 구분)" aria-label="Add Words" aria-describedby="button-addon2">
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="addKeyWords-button" onclick="addKeyWords()">추가</button>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-1">
                    <input type="button" class="btn btn-outline-secondary" id="dwn-btn" value="다운로드"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class='col-sm-12'>
                    <p>키워드를 추가하여 여러 응답들 내에 존재하는 단어들의 빈도수를 손쉽게 분석할 수 있습니다. </p>
                    <p>여러 키워드를 스페이스바로 구분하여 동시에 입력할 수도 있습니다.</p>
                    <p>분석 결과는 다운로드하여 보관 가능합니다.</p>
                </div>
                <div class="col-sm-12 bottom-panel">
                    <div id="sentences" class="row">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'teacher/js/jscolor.js' %}"></script>
<script src="{% static 'teacher/js/response_analysis.js' %}"></script>

{% else %}

<script>
    alert('로그인을 하셔야 이용이 가능합니다. 먼저 로그인을 해주세요.');
    document.location.href = "{% url 'teacher_login' %}";
</script>

{% endif %}

{% endblock %}