{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

{% if messages %}
{% for message in messages %}
<input id="message" type="hidden" value="{{ message }}">
{% endfor %}
{% endif %}

<div class="container">
    <h2>회원가입</h2><br>

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <p>아이디</p>
        <input class="input-box" name="username" type="text"><span class="input-text">학교 이메일을 사용해 주세요.</span>
        <p>비밀번호</p>
        <input class="input-box" name="password1" type="password">
        <p>비밀번호 확인</p>
        <input class="input-box" name="password2" type="password">
        <p>성</p>
        <input class="input-box" name="last_name" type="text">
        <p>이름</p>
        <input class="input-box" name="first_name" type="text">
        <p>학교 이름</p>
        <input class="input-box" name="school" type="text"><br><br>
        <input name="teacher_id" type="hidden" value="{{ teacher_id }}">
        <input type="submit" class="btn btn-primary" value="sign up">
    </form>
</div>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
