{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row justify-content-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                 height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <!--            <h1 class="font-weight-light">주제분석</h1><br>-->
            <p class="font-weight-bolder triangle-border left">
                주제를 분석하고자 하는 학생들의 응답을 아래 입력 칸에 작성하고,
                '토픽 모델링' 알고리즘을 선택해 주세요.<br>
                입력 형식은 텍스트로 부탁드립니다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <div class="col-lg-7 topic-opt">
        <select name="evaluation_type">
            <option value="select" selected="selected">토픽 모델링</option>
            <option value="learning_evaluation">간단한 모델</option>
            <option value="homework">복잡한 모델</option>
        </select>
    </div>
    <!-- /.row -->
    <div class="col-7 text-box">
        <textarea type="text" name="" placeholder="   학생들의 응답 텍스트를 여기에 작성해 주세요."></textarea>
    </div>
    <div class="col-lg-2 btn-center">
        <button type="submit" class="w3-button w3-large w3-round w3-blue">분석 결과 보기</button>
    </div>
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
